<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
   <!-- robot name parameter -->
   <xacro:arg name="name" default="ur"/>


   <ros2_control name="ur_control" type="system">
      <hardware>
         <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="shoulder_pan_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">0.0</param>
         <state_interface name="velocity"/>
      </joint>

      <joint name="shoulder_lift_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">-1.5701</param>
         <state_interface name="velocity"/>
      </joint>

      <joint name="elbow_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">-1.5701</param>
         <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_1_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">0.0</param>
         <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_2_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">0.0</param>
         <state_interface name="velocity"/>
      </joint>

      <joint name="wrist_3_joint">
         <command_interface name="position"/>
         <state_interface name="position"/>
            <param name="initial_value">0.0</param>
         <state_interface name="velocity"/>
      </joint>

   </ros2_control>


   <gazebo>
      <plugin filename="gz_ros2_control-system"  name="gz_ros2_control::GazeboSimROS2ControlPlugin">
         <parameters>$(find ur_bringup)/config/ur_controllers.yaml</parameters>
      </plugin>

      
     

   </gazebo>


</robot>